/*Colors and fonts */

body { 

	background-color: rgb(230,230,230);
	color:  rgb(50,50,50);
	font-family: 'Lora', serif;
	font-size: 16px;
}

h1, h2, h3 { 
	font-family: 'Roboto Slab', serif;
 }

h1 {
    color: #395B64;
    font-weight: 900;
    font-size: 32px;
    }
h2 {
    color: #395B64;
    font-weight: 500;
    font-size: 24px;
    font-weight: lighters;
}
    
    a {

    	font-family: 'Roboto Slab', serif;
 		text-decoration: none;
    	color:  #E60965;
    	font-weight: 600;
    	font-size: 16px;
    }

	a:hover {
		color: #E60965;}

.img-circle {
	border-radius: 50%;
}

.shadowed {
	box-shadow: 5px 5px 3px black;
}

/* Custom design with class*/
.container {
	width: 700px;
	margin: 40px auto;
}

@media (max-width: 760px) {
	.container{
		width : 600px;
	}
}

@media (max-width: 760px) {
	.container{
		width : 400px;
	}
}

.card-white {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10 px 30px rgba(0,0,0,0.1);
	border-radius: 4px;
	margin: 20px 0px auto;
	text-align: center;
	width: 700px;
	margin: 40 px auto;
}


.img-circle{
	border-radius: 50%;
}

.btn-blue {
	background-color: #395B64;
	color: white;
	padding:  15 px 20 px;
	border-radius: 4px;
}


.btn-blue:hover{
	background-color: #E60965;
	color:  white;
}


.list-inline {
	list-style: none;
	padding-left:  0px;
}

.list-inline li {
	display: inline;
	padding: 10px;
}
.list-inline i {
	font-size: 50px;
	color: #E60965;
}

.list-inline i:hover {
	color: #395B64;
}

/* Design adjustement using id (1% design remining) */
#introduction p {
	margin-bottom: 40px;
}






